@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300");
@import "variables";
@import "bootstrap";
@import "paper";

.app-loading { background: #ffbb00; width: 500px; height: 300px; position: relative; }

body { padding-top: 66px; font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 1.43; color: #565a5c; font-weight: 300; }

body.index .navbar { background: transparent; border: none; }
.navbar,
body.index .navbar.white { background: #fff; height: 66px;-webkit-transition: background 0.2s; transition: background 0.2s;border-bottom: 1px solid #f5f5f5;}


.navbar .navbar-brand,
body.index .navbar.white .navbar-brand { display: block; width: 159px;height: 41px;background: url('/images/logo2.png');overflow: hidden;text-indent: -9999px; margin-top: 17px; }
body.index .navbar .navbar-brand {background: url('/images/logo.png');}
.navbar ul { list-style: none; margin-left: 200px; }
.navbar ul li { display: inline-block;margin-left: 15px; }
.navbar ul li:first-child { margin-left: 0; }
.navbar-inverse .navbar-nav > li > a,
body.index .navbar.white ul li a { font-family: 'Roboto', sans-serif; font-size: 16px; text-transform: uppercase; line-height: 16px; color: #9aa4a5; font-weight: 700;padding: 27px 5px 19px; }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar ul li a.active { color: $brand-primary; border-bottom: 4px solid $brand-primary; }
body.index .navbar ul li a { color: #fff; }

.navbar .pull-right ul {margin: 0 10px 0 0;font-weight: 300;padding: 0;}
.navbar .pull-right .navbar-nav li.dropdown a { font-size: 14px;text-transform: none;padding: 15px 5px 10px;font-weight: 300;color: #9aa4a5;}
.navbar .navbar-nav li.dropdown a:hover, .navbar .navbar-nav li.dropdown a:focus { border: none; background: none; }
.navbar .navbar-nav li.dropdown img { max-height: 40px; }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background: #f5f5f5; color: $brand-primary; }
.navbar .dropdown-menu li { display: block;margin: 0px;padding:0;}
.navbar .pull-right .navbar-nav .dropdown-menu li a { font-size: 14px;text-transform: none;color: #666;font-weight: 300;padding: 6px;line-height: 16px;}
.navbar .pull-right .navbar-nav .dropdown-menu li a:hover { background: #f5f5f5; }

.btn.btn-green { background-color: $brand-primary; border: 2px solid $brand-primary; font-family: 'Roboto', sans-serif; font-size: 12px; text-transform: uppercase; color: #fff;font-weight: 400;margin-top: 17px;padding: 3px 6px; }
.btn.btn-green:hover, .btn.btn-green.active { background-color: darken($brand-primary, 10%);border-color: darken($brand-primary, 10%); }
.btn.signup,
body.index .navbar.white .btn.signup  { background: transparent; border: 2px solid #9aa4a5; font-family: 'Roboto', sans-serif; font-size: 12px; text-transform: uppercase; color: #666; height: 33px; font-weight: 400;margin-top: 17px; }
.btn.signup:hover, .btn.signup.active,
body.index .navbar.white .btn.signup:hover  { background-color: #fff; border-color: #333; color: #333; }
body.index .btn.signup { background: transparent; border: 2px solid #fff; color: #fff; }
body.index .btn.signup:hover { background-color: #fff; color: #333; }

/*** footer ***/
footer { text-align: center; width: 100%; padding: 47px 0 10px; background: url('/images/footer.jpg') top center; overflow: hidden;margin-top: 60px;}
body.index footer { margin-top: 0; }
footer h3 { font-family: 'Roboto';font-size: 18px;line-height: 25px;font-weight: 700; color: #33495e;margin:0 0 10px; }

footer .social {list-style: none;margin-bottom: 38px;}
footer .social li { display: inline-block; width: 52px; height: 52px;margin-left: 13px;}
footer .social li:first-child { margin:0; }
footer .social li a { display: block; width: 52px; height: 52px; background:url('/images/footer_social.jpg');overflow: hidden;text-indent: -9999px;}
footer .social li a:hover { opacity: 0.7;}
footer .social li a.twitter { background-position: -65px 0; }
footer .social li a.instagram { background-position: -127px 0;}
footer .social li a.youtube { background-position: -190px 0;}
footer .social li a.pinterest { background-position: -253px 0;}

footer #newsletter { font-size: 0; text-align: center;margin-bottom: 40px; }
footer #newsletter input { width: 301px; height: 40px; display: inline-block; -webkit-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;background: #fff;padding-left: 10px;}
footer #newsletter button[type="submit"] { width: 108px;height: 40px; -webkit-border-radius: 0px 3px 3px 0px;border-radius: 0px 3px 3px 0px;background: #33495e;border: none;font-weight: 400;color: #fff;vertical-align: top;text-transform: uppercase;display: inline-block; }

footer .menu { list-style: none; }
footer .menu li { display: inline-block; margin-left: 15px; }
footer .menu li:first-child { margin-left: 0; }
footer .menu li a { font-family: 'Roboto', sans-serif; font-size: 16px; text-transform: uppercase; line-height: 16px; color: #FFF; font-weight: 500; }

footer .termos { list-style: none; }
footer .termos li { display: inline-block;margin-right: 15px; }
footer .termos li a { font-family: 'Roboto', sans-serif; font-size: 12px; line-height: 25px; color: #33495e; font-weight: 400; }

footer hr { border-color: #33495e; width: 840px; }
footer p { font-size: 12px; line-height: 25px; color: #fff; }

/*** home **/
.banner_home { width: 100%; height: 900px; background: url('/images/home_banner.jpg') top center no-repeat; background-size: cover; position: relative; text-align: center; padding-top: 357px; margin-top: -66px;overflow: hidden; }
.banner_home .shadow { width: 100%; height: 147px; background: url('/images/bg_indextop.png'); position: fixed; top: 0 }
.banner_home button.play {width: 88px;height: 88px;border: none;background: url('/images/bt_play.png');text-indent: -9999px;}
.banner_home h3 { font-family: 'Roboto'; font-size: 22px; line-height: 25px; color: #fff; font-weight: 400; margin: 5px 0 50px 0; text-transform: uppercase; }
.banner_home img { margin-bottom: 20px;}
.banner_home h1 { font-family: 'Roboto'; font-size: 25px; line-height: 25px; color: #fff; font-weight: 700; margin: 0; text-transform: uppercase; }
.banner_home h2 { font-family: 'Roboto'; font-size: 25px; line-height: 25px; color: #fff; font-weight: 400; margin: 5px 0 0 0; text-transform: uppercase; }

@media only screen and (max-height: 800px){
	.banner_home { height: 600px; padding-top: 150px; }
}

.banner_home .search-bar { position: absolute; bottom: 0; width: 100%; height: 100px; background: rgba(0, 0, 0, 0.5); padding-top: 29px; text-align: center; font-size: 0; }
.banner_home .search-bar #search { width: 297px; height: 44px; display: inline-block; -webkit-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px; }
.banner_home .search-bar input { background: #fff; }
.banner_home .search-bar .select-block { width: 129px; display: inline-block;vertical-align: top; }
.banner_home .search-bar .datepicker { border-radius: 0;width: 129px;height: 44px;}
.banner_home .search-bar button[type="submit"] { width: 108px;height: 44px; -webkit-border-radius: 0px 3px 3px 0px;border-radius: 0px 3px 3px 0px;background: $brand-primary;border: none;font-weight: 400;color: #fff;vertical-align: top;text-transform: uppercase; }
.banner_home .search-bar button[type="submit"]:hover { background-color: #5f9a82;border-color: #5f9a82; }

.select-block { display: block; width: 100%; background: #fff; font-size: 14px; }
.search-bar .select select { padding: 8px 10px; padding-right: 1em; width: 100%;-webkit-appearance:none; -moz-appearance:none; appearance:none;} 
#categorias.categorias-select { height: 44px; border-radius: 0; padding-top: 10px; padding-bottom: 10px; }
.banner_home .search-bar .input-placeholder-group {position: relative; display: inline-block; }
.banner_home .search-bar input { padding-left: 5px; }

.title {
	margin: 78px auto; 
	color: $brand-primary;
	font-weight: 300;
	line-height: 0.5;
	text-align: center;
	text-transform: uppercase; 

	span {
		display: inline-block; 
		position: relative;

		&:before,
		&:after {
			content: ""; position: absolute; height: 5px; border-top: 1px solid #a0a0a0; top: 10px; width: 180px;
		}

		&:before {
			right: 100%; 
			margin-right: 15px;
		}

		&:after {
			left: 100%; 
			margin-left: 15px;
		}
	}
}


.fullscreen-video-player {position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: -1001; background-color: #000; transition: opacity 800ms ease;vertical-align: middle; }
.fullscreen-video-player .video {position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);text-align: center;} 
.fullscreen-video-player video {max-width: 100%; }
#close-fullscreen-belo, #close-fullscreen-belong {cursor: pointer; position: absolute; color: #82888a; right: 15%; top: 50px; font-size: 30px; text-decoration: none; }
@media only screen and (max-width: 1500px){
	#close-fullscreen-belo, #close-fullscreen-belong {right: 5%;}
}

.produtos {}
.produtos .item { border: 1px solid #d3d3d3; width: 319px;height: 475px;overflow: hidden;position: relative; margin-bottom: 35px; }
.produtos .item .photo { position: absolute; z-index: 1; }
.produtos .item .photo img { max-width: 100%; }
.produtos .item .description { position: absolute; bottom: 0; background: #fff;width: 100%;height: 61px; padding: 10px 14px 5px 14px;z-index: 3; }
.produtos .item .title h2 { font-size: 16px;color: #666;line-height: 25px;font-weight: 500; margin: 0; }
.produtos .item .title span { font-size: 14px;color: #666;line-height: 25px;}
.produtos .item .price {text-align: right;}
.produtos .item .price span { font-size:12px;color: #d4d5d6; }
.produtos .item .price h3 {font-size: 25px;color: #d57968;line-height: 30px;font-weight: 400;margin: 0;letter-spacing: 0;}
.produtos .item .price h3 span { font-size: 15px;color: #d57968;line-height: 36px;float:left; }


.populares { background: #f8f8f8; padding-bottom: 60px; }
.populares .produtos .item { width: 100%; height: 362px; }

.home-tarja {
	background: #46BDA1;
	text-align: center;
	font-size: 16px; 
	margin-top: 60px;

	img { width: 50%; }
	h2 {
		font-size: 30px;
	}
	.col-md-4 {
		padding: 40px 20px 20px;
	}
	.center {
		background: #D1DBDA;
	}
}

/********** COMMOM **********/
p { line-height: 25px; }
ol li, ul li { line-height: 25px; }

.text-white { color: #fff; }
.text-jumbo { font-size: 60px; font-weight: 700;}
.text-ginormous { font-size: 145px; }

.page-header {margin: 0px; padding: 0px; padding: 120px 0px; border-bottom: none; position: relative; overflow: hidden; margin-bottom: 40px; }
.page-header-mini {padding: 60px 0px;}
.page-header:before { position: absolute; width: 100%; height: 100%; top: 0px; content: ''; opacity: 0.3; z-index: 2; background-color: #333333; }
.page-header .background-image-holder {height: 150%; top: -20%; }
.background-image-holder, .foreground-image-holder {position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-size: cover !important; z-index: 0; background-position: 50% 50% !important; }
header .container { position: relative; z-index: 3; }
.page-header h1, .page-header h2, .page-header h3 { max-width: 450px; }

