<header class="page-header page-header-big">
	<div class="background-image-holder" style="background: url(/images/stock/camera.jpg) 50% 0%;">
		<img class="background-image" alt="Background Image" src="/images/stock/camera.jpg" style="display: none;">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="text-white">Coloque seus pertences para trabalhar por você</h1>
				<h2 class="text-white">Publique hoje. Alugue amanhã.</h2>
				{{#link-to 'products.new' class="btn btn-default btn-green"}}Cadastre seu produto agora{{/link-to}}
			</div>
		</div>
	</div>
</header>


<div class="container">
	<h1>Step by Step</h1>

	<h2>ESTÁ BUSCANDO ALGO?</h2>
	<ol>
		<li>Faça a busca no campo indicado, incluindo data e local da locação;</li>
		<li>Selecione o item que deseja, escolhendo por preço e proximidade do locatário;</li>
		<li>Confirme a data desejada e conclua a reserva;</li>
		<li>Pronto! Entre em contato com o locador através da nossa plataforma para combinar a retirada;</li>
		<li>Após a devolução, não se esqueça de pontuar o locatário.</li>
	</ol>

	<h2>TENHO ALGO PARA <em>ALOOGAR</em>!</h2>
	<ol>
		<li>Cadastre o produto que deseja disponibilizar para locação e ganhe dinheiro enquanto não estiver usando.</li>
		<li>Receba solicitações e escolha para quem e quando deseja alugar.</li>
		<li>Fique tranquilo! Os cadastros “verificados” são cadastrados por um documento com foto (RG ou CNH) do locador.</li>
		<li>Após a devolução, verifique se o produto está nas condições que saiu, conclua a transação pontuando o locador e deixando um comentário sobre a experiência para tornar nossa comunidade ainda mais forte.</li>
	</ol>
￼

￼	<hr>
	
	<h2>Segurança</h2>
	<p>
		<em>Aloogar</em> nunca foi tão seguro!
	</p>
	<p>
		Pode ficar tranquilo. O <em>Alooga</em> conta com termos de uso, privacidade e contratos de locação disponíveis para que todos possam dar aquela olhadinha, caso a insegurança bata à porta. Além disso, os cadastros ganham status de “verificados” após verificação de documento com foto e CPF existente.
	</p>
	<p>
		Quer mais? Com o sistema de pontuação do <em>Alooga</em>, nossos usuários se sentem na obrigação de fazer bonito, para que todas as transações sejam sempre um sucesso!
	</p>

	<hr>

	<h2>Pagamento</h2>
	<p>
		O <em>Alooga</em> utiliza a plataforma IUGU para todas as suas transações. Ela funciona de maneira simples, rápida e segura, tudo visando o bom funcionamento da nossa comunidade para o conforto dos usuários.
	</p>
	<p>
		Todos os usuários, ao criarem um perfil no <em>Alooga</em>, automaticamente criarão subcontas dentro do site, facilitando as negociações.
	</p>
	<p>
		Locatários, ao agendarem uma locação, deverão efetuar o pagamento logo em seguida, via cartão de crédito. Após a confirmação do Locador, o pagamento é transferido para a sua conta no dia seguinte. Caso ele rejeite o pedido, o valor é estornado na próxima fatura do cartão do Locatário.
	</p>

</div>
