<<div class="container">
	<div class="row row-space-top-8 row-space-8">
    <div class="col-md-5 col-middle">
      <h1 class="text-jumbo text-ginormous hide-sm">Oops!</h1>
      <h2>Não conseguimos encontrar a página que você tentou acessar.</h2>
      <h6>Código de erro: 404</h6>
      <ul class="list-unstyled">
        <li>Segue alguns links que podem te ajudar:</li>
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'index'}}Busca{{/link-to}}</li>
        <li>{{#link-to 'como'}}Como funciona{{/link-to}}</li>
        <li>{{#link-to 'anunciar'}}Quero anunciar{{/link-to}}</li>
        <li><a href="http://suporte.alooga.com.br">Central de suporte</a></li>
      </ul>
    </div>
    <div class="col-md-5 col-middle text-center">
      <img src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-554adc9e2190445fea6d7f0e3a30e67e.gif" width="313" height="428" class="hide-sm" alt="Girl has dropped her ice cream.">
    </div>
  </div>
</div>