<div class="container">
	<h1>A Alooga</h1>

	<p>O Alooga é a plataforma onde você encontra tudo o que quiser, apenas pelo tempo que precisa.</p>
	
	<p>Que tal alugar uma bicicleta para andar no final de semana? E o que me diz de uma furadeira apenas quando comprar quadros novos? Aqui é assim: você só tem o que precisa, quando precisa.</p>

	<p>Nosso sistema de busca permite unir locadores e locatários em todo o Brasil que desejam ter acesso a certos benefícios de produtos sem a necessidade de comprá-los, e também fazer um dinheiro extra com bens que não usam com tanta frequência.</p>

	<h2>Vantagens</h2>
		
	<p>
		<strong>Locatário</strong>
	</p>
	<ol>
		<li>Tenha acesso ao que quiser, sem precisar comprar;</li>
		<li>Alugue de um usuário perto de você;</li>
		<li>Economize com custos de manutenção, estoque e transporte.</li>
	</ol>

	<p>
		<strong>Locador</strong>
	</p>
	<ol>
		<li>Faça uma grana extra com o que não estiver usando;</li>
		<li>Não se preocupe, os cadastros de nossos usuários são verificados e o sistema de pontuação permite que você escolha com quem negociar;</li>
		<li>Tenha controle da sua agenda de locação, histórico de transações, lucros e muito mais através do seu perfil.</li>
	</ol>

</div>